*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.container{
    width: 200px;
    height: 200px;
    perspective: 700px;/*???*/
    margin: 250px auto;
}
.box{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(-20deg) rotateY(30deg);
}
.side{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: rgba(30, 67, 125, .5);
}
.side--front{
    transform: rotateY(0) translateZ(100px);
    background-color: #0e76a8;
}
.side--left{
    transform: rotateY(-90deg) translateZ(100px);
}
.side--top{
    transform: rotateX(90deg) translateZ(100px);
}

button{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4rem;
    transition: .5s;
    transform-origin: left;
    text-align: left;
    padding-left: 20px;
}

button:hover{
    padding-left: 210px;
}
.shape{
    width: 100px;
    height: 150px;
    position: absolute;
    left: -100px;
    top: 10px;
    animation: float 10s infinite;
    background-color: black;
    z-index: -10;
    transition: 1s;
    clip-path: polygon(85% 18%, 70% 42%, 33% 42%, 15% 20%, 8% 35%, 17% 49%, 14% 74%, 25% 90%, 40% 95%, 60% 95%, 75% 91%, 84% 72%, 83% 47%, 90% 39%);
  
}
button:nth-child(1):hover ~ .shape{
    clip-path: polygon(99% 10%, 70% 42%, 33% 42%, 15% 20%, 8% 35%, 17% 49%, 10% 75%, 25% 90%, 40% 95%, 60% 95%, 75% 91%, 90% 75%, 83% 47%, 90% 39%);
}
button:nth-child(2):hover ~ .shape{
clip-path: polygon(100% 29%, 70% 42%, 33% 42%, 15% 20%, 8% 35%, 17% 49%, 14% 74%, 25% 90%, 40% 95%, 60% 95%, 75% 91%, 84% 72%, 83% 47%, 90% 39%);
}
button:nth-child(3):hover ~ .shape{
clip-path: polygon(100% 71%, 67% 53%, 35% 52%, 15% 30%, 12% 48%, 16% 59%, 14% 74%, 25% 90%, 40% 95%, 60% 94%, 73% 88%, 81% 74%, 80% 56%, 84% 45%);
}
button:nth-child(4):hover ~ .shape{
clip-path: polygon(99% 98%, 67% 53%, 35% 52%, 15% 30%, 12% 48%, 16% 59%, 14% 74%, 25% 90%, 40% 95%, 60% 94%, 73% 88%, 81% 74%, 80% 56%, 84% 45%);
}
@keyframes float{
    0%{
        transform: translateY(0) rotateX(0);
    }
    50%{
        transform: translateY(-20px) rotateX(3deg);
    }
    100%{
        transform: translateY(0) rotateX(0);
    }
}

